<nav class="navbar navbar-expand-sm ">
  <a class="navbar-brand" nhref="#" routerLink='/home'><img src="assets/imgs/virtual-logo.png" width="55%"></a>

  <div class=" navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <span *ngIf="showlogin" class="navbar-text white-text">
      <a nhref="#" routerLink='/login'><button class="btn-login"> Login </button></a>
    </span>

    <span class="navbar-text white-text ml-2">
      <a nhref="#" routerLink='/appointments'><button class="btn-login"> Appointments </button></a>

    </span>

    <span *ngIf="!showlogin" class="navbar-text white-text ml-2">
      <a nhref="#"><button class="btn-login" (click)="logout()"> Logout </button></a>

    </span>
  </div>
</nav>
