@media screen and (max-width: 576px) {
  .navbar-text {
        float: right;
    margin-top: -42px;
  }

  .for-get {
    float: right;
    font-size: 11px;
    margin-top: 10px;
    margin-top: 10px;
    color: #5ab1bb;
    font-weight: bold;
}

.filter-img img {
        width: 43%;
    height: 181px;
    height: 120px;
    border-radius: 120px;
}



.btn-login {
    width: 100%;
    padding: 2px 20px; }


    .icon-side img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-top: 26px;
    width: 107%;
    margin-left: -12px;
}

.book-logo {
  width: 30%;
}

}


.navbar  {
  background-color: #fff !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%)!important;
}
.btn-login {
  width: 100%;
    padding: 5px 30px;
    background-color: #5ab1bb;
    color: #fff;
    border: none;
    border-radius: 4px;
}
