<footer class="page-footer font-small blue pt-4 mt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="container">
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Virtual Doc</h5>
          <p> The global outbreak of novel coronavirus disease has not only affected millions of people but also led
            us to Social distancing, wearing a mask, and avoiding gatherings . So at this difficult time VirtuDoc
            provides you online doctor consultations. The ease of consulting a doctor at your convenient time and
            place is the best option.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Menu</h5>

          <ul class="list-unstyled">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#!">contact us</a>
            </li>
            <li>
              <a href="#!">support</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Information</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Term and conditiion</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> Virtual Doc</a>
  </div>
  <!-- Copyright -->

</footer>
