.choose-etc {
  background-color: #5ab1bb;
  padding: 40px 20px;
  margin-top: 20px;
  color: #fff;
  width: 100%;
}

.choose-etc h4 {
position: relative;
top: -10px;
}


.choose-etc input {
    width: 50%;
  background: #fff;
  border: none;
  padding: 8px;
  border-radius: 2px;
  outline: none;
  /* text-align: center; */
}
.book-a {
  text-align: center;
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.book-a h6 {
  font-size: 22px;
}
#errormsg {
  /* display: none; */
  margin-bottom: 0;
  margin-top: 1rem;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* li {
        display: none;
    } */

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  text-align: left;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
li {
  list-style-type: none;
}

ul.dynamicname1 {
  padding: 0;
}

ul.dynamicname2 {
  padding: 0;
}

ul.dynamicname {
  padding: 0;
}
#spec {
  display: none;
  text-align: left;
  font-weight: bold;
}
#doc {
  display: none;
  text-align: left;
  font-weight: bold;
}
#hosp {
  display: none;
  text-align: left;
  font-weight: bold;
}
#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.doctor_info {
  background-color: #5ab1bb;
  padding: 5px;
  height: 70px;
  color: white;
}

.doctor_info h6 {
  margin-bottom: 0;
}

.doctor_info p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1;
}
.corona-text h5{
  position: relative;
  top: 5px;
  font-weight: bold;

}

.corona-text {
  padding-top: 18px;
}


.corona-text p {
  color: #575757;
}
.new-icons img {
  width: 30%;
}

.new-icons {
  text-align: center;
  color: #fff;
}
.icon-side img {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.dash-box {
  background-color: #f68a9a;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  padding: 13px;
}
@media screen and (max-width: 576px) {

    .icon-side img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-top: 26px;
    width: 107%;
    margin-left: -12px;
}



}
