<div class="container-fluid">
  <div class="container">
    <div class="row">


      <div class="book-a">
        <h6> Book an Appointment </h6>
        <hr class="hr">
      </div>

      <div class="choose-etc text-center">
        <p>Find and Book</p>

        <h4>Book an appointment</h4>
        <div id="ref">
          <input type="text" name="" placeholder="Doctors, Clinics, Specialities, Hospitals etc" id="myInput"
            (keyup)="myFun($event)" autocomplete="off">
          <p id="errormsg"></p>
          <ul id="myUL">
            <p id="spec">Specialities</p>
            <ul class="dynamicname">

            </ul>
            <p id="doc">Doctors</p>
            <ul class="dynamicname1">

            </ul>
            <p id="hosp">Hospitals</p>
            <ul class="dynamicname2">

            </ul>
          </ul>
        </div>
      </div>



    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 pt-2">
    <h5>Popular doctor's at your location</h5>
  </div>
  </div>
  <div class="row dynamicdata">
    <div class="col-lg-3 col-6" style="margin-bottom:10px" *ngFor="let item of doctros">
      <a>
        <img routerLink="/details/{{item.first_name}}" src="assets/imgs/doc.png"  class="content-image" alt="" width="100%" height="200px">
        <div class="doctor_info">
          <h6>{{item.first_name}}{{item.last_name}}</h6>
          <p>{{item.description}}</p>
        </div>
      </a>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pl-0">
        <div class="corona-text">
          <h5>Coronavirus safety</h5>
          <p>Follow these easy steps to help prevent the spread of covid-19</p>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="row dash-box">
          <div class="col-sm-4">
            <div class="new-icons">
              <img src="assets/imgs/icon-1.png">
              <p>Disinfect surfaces around your home and work.</p>

            </div>
          </div>

          <div class="col-sm-4">
            <div class="new-icons">
              <img src="assets/imgs/icon-2.png">
              <p>Wash you hands for at least 20 seconds.</p>


            </div>
          </div>

          <div class="col-sm-4">
            <div class="new-icons">
              <img src="assets/imgs/icon-3.png">
              <p>Sneeze or cough? Cover your mouth</p>


            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="icon-side">
          <img src="assets/imgs/icon-4.png" width="102%">
        </div>
      </div>
    </div>
  </div>
</div>
