<section class="dynamicdata">
    <div class="container-fluid p-0 mt-4 mb-2">
        <div class="container">
            <div class="row content-al">
                <div class="col-lg-6 col-sm-12 p-0">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="filter-img text-center">
                                <img src="assets/imgs/img-1.jpg">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="filter-text">
                                <h5>{{drList.title}}
                                    <img src="assets/imgs/start.png" width="10%; " class="hide-i">
                                </h5>
                                <p>{{drList.designation}} <br> {{drList.experience}} year of
                                    experience
                                </p>
                                <h6> <i class="fas fa-thumbs-up"></i> {{drList.upvote}} &nbsp;</h6>
                                <p><b>{{drList.city}}</b><br>{{drList.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="book-cunsult text-right mt-3">
                        <img src="assets/imgs/start.png" width="10%;">
                    </div>
                    
                    <div class="book-text">
                        <p class="n-ext"> NEXT AVAILABLE AT </p>
                        <p> <i class="fas fa-video"></i> 06: 00 Pm, Today </p>
                        <p> <i class="fas fa-home"></i> 06: 00 Pm, Today </p>
                        <a routerLink="/slots/{{drList.id}}/{{drList.first_name}}">
                            <button type="button" class="video-c"> Book Video Cunsult</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>