<div class="container-fluid p-0">
    <div class="container p-0">
        <div class="profile-doc">
            <div class="row ">
                <div class="col-lg-2 col-3">
                    <div class="circle-img p-1"> <img src="assets/imgs/doc-img.jpg" width="100%"></div>
                </div>
                <div class="col-lg-10 col-9">
                    <div class="pro-side">
                        <h6 id="dr_name">{{drDetailed.title}}</h6>
                        <p id="dr_desc">{{drDetailed.designation}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="appoint">
            <h6>Select a time slot for in-clinic appointment</h6>
            <p> <i class="fas fa-check"></i> Get instance confirmation for FREE</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item waves-effect waves-light" data="today">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true" (click)="dated(cdate)">Today <br> <span style="display: none;">2
                                    Slots available</span> </a>
                        </li>
                        <li class="nav-item waves-effect waves-light" data="tomorrow">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false" (click)="dated(cdate2)">Tomorrow <br> <span
                                    style="display: none;">24 Slots
                                    available</span> </a>
                        </li>
                        <li class="nav-item waves-effect waves-light" data="nextday">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false" (click)="dated(cdate3)">Next Day <br> <span
                                    style="display: none;">24 Slots
                                    available</span> </a>
                        </li>
                        <input type="hidden" id="selDate" value="2021-05-27">
                        <input type="hidden" id="selTime">
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="timing-set">
                                <div class="t-heads" id="day1">
                                    <h6>{{this.cdate}}</h6>
                                </div>
                            </div>
                            <div class="t-body">
                                <p class="aftr">Morning</p>
                                <ul class="time_data dynamictimemrng">
                                        <li class="cust_btn" *ngFor="let item of drDetailsMor"> {{item}} </li>
                                </ul>
                                <p class="aftr">Afternoon</p>
                                <ul class="time_data dynamictimeaft">
                                    <li class="cust_btn" *ngFor="let item of drDetailsNoon"> {{item}} </li>
                                </ul>
                                <p class="aftr">Evening</p>
                                <ul class="time_data dynamictimeevn">
                                    <li class="cust_btn" *ngFor="let item of drDetailsEve"> {{item}} </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="timing-set">
                                <div class="t-heads" id="day2">
                                    <h6>{{this.cdate2}}</h6>
                                </div>
                            </div>
                            <div class="t-body">
                                <p class="aftr">Morning</p>
                                <ul class="time_data dynamictimemrng">
                                    <li class="cust_btn" *ngFor="let item of drDetailsMor"> {{item}} </li>
                                </ul>
                                <p class="aftr">Afternoon</p>

                                <ul class="time_data dynamictimeaft">
                                    <li class="cust_btn" *ngFor="let item of drDetailsNoon"> {{item}} </li>
                                </ul>
                                <p class="aftr">Evening</p>

                                <ul class="time_data dynamictimeevn">
                                    <li class="cust_btn" *ngFor="let item of drDetailsEve"> {{item}} </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="timing-set">
                                <div class="t-heads" id="day3">
                                    <h6>{{this.cdate3}}</h6>
                                </div>
                            </div>
                            <div class="t-body">
                                <p class="aftr">Morning</p>
                                <ul class="time_data dynamictimemrng">
                                    <li class="cust_btn" *ngFor="let item of drDetailsMor"> {{item}} </li>
                                </ul>
                                <p class="aftr">Afternoon</p>
                                <ul class="time_data dynamictimeaft">
                                    <li class="cust_btn" *ngFor="let item of drDetailsNoon"> {{item}} </li>
                                </ul>
                                <p class="aftr">Evening</p>
                                <ul class="time_data dynamictimeevn">
                                    <li class="cust_btn" *ngFor="let item of drDetailsEve"> {{item}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>