<div class="container-fluid">
  <div class="container">
    <div class="row">


      <div class="book-a">
        <h6> Your Appointment </h6>
        <hr class="hr">
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="check-app dynamicdata">
        <div class="row" style=" box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); margin-bottom: 15px;">
          <div class="col-lg-6 col-sm-6" *ngFor="let item of myappoints">
            <div class="check-imgbox">
              <img src="assets/imgs/doc.png">
              <h5> {{item.sales_user_name}}<br><span></span> </h5>

            </div>
        </div>
        <div class="col-lg-6 col-sm-6" *ngFor="let item of myappoints">
          <div class="time-join">
            <p>{{item.date}} , {{item.time}}</p>
            <a href="showdesk.html"> <button> Join Call </button> </a>

          </div>
        </div>
        </div>


    </div>
  </div>
</div>
