.login{
  text-align: center;
    margin-top: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.login h6 {
  color: #5ab1bb;
  font-weight: bold;
  position: relative;
  top: 7px;

}
.login-section input {
  width: 100%;
border: 1px solid #ccc;
border-radius: 4px;
padding: 3px;
}

.login-section {
padding: 15px;
}

.login-section label {
font-size: 14px;
position: relative;
top: 7px;
color: #787887;
font-weight: bold;
}

.login-section input::placeholder {
font-size: 13px;
color: #c2c2c2;
}
.otp-provide {
  padding: 10px;

}
.send-btn {
  padding: 10px;
}

.send-btn button {
  width: 100%;
  padding: 7px;
  background-color: #5ab1bb;
  color: #fff;
  border:none;
  border-radius: 4px;
}
.for-get {
  float: right;
    font-size: 15px;
    margin-top: 7px;
    color: #5ab1bb;
    font-weight: bold;
}
@media screen and (max-width: 576px) {

  .for-get {
    float: right;
    font-size: 11px;
    margin-top: 10px;
    margin-top: 10px;
    color: #5ab1bb;
    font-weight: bold;
}
}
