

<div class="login">
  <h6> Log in </h6>
  <hr class="hr">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
      <form [formGroup]="loginForm" #formDir="ngForm">
        <div class="login-section" >
          <div class="login_info" id="login_info" *ngIf="!otp">
            <label>Name</label><br>
            <input type="text" id="name" formControlName="name" placeholder="Name">
            <label>Mobile Number</label><br>
            <input type="text" formControlName="mobile" id="mobile_number" placeholder="Mobile Number">
          </div>

          <div class="otp" id="otp_field" *ngIf="otp">
            <label>OTP</label><br>
            <input type="text" formControlName="otp" id="otp" placeholder="Enter OTP">


            <div class="forget">
              <!-- Default unchecked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Remember me for 30 days</label>
                <p class="for-get">Forgot Password ?</p>
              </div>
            </div>
          </div>
        </div>



        <div class="send-btn p-3 text-center">
           <button id="formSubmit" type="button" *ngIf="!otp" (click)="sendOtp()">
              Send Otp
            </button>
            <button *ngIf="otp" id="formSubmit1" type="button" (click)="verifyOtp()">
              Login
            </button>

        </div>





      </form>
    </div>


    <div class="col-lg-4">

    </div>

  </div>
</div>
