/* You can add global styles to this file, and also import other style files */

body{
  margin: 0px;
  font-family: "Futura Md BT Medium";
}
@font-face {
  font-family: "Futura Md BT Medium";
  src: url('../src/assets/fonts/Futura\ Md\ BT\ Medium.ttf');
  }
.hr {
  margin-top: 1rem;
    margin-bottom: 1rem;

    border-top: 2px solid rgb(90 177 187);
    width: 60px;
}

body{
  margin: 0px;
  font-family: "Futura Md BT Medium";
}
// @font-face {
// font-family: "Futura Md BT Medium";
// src: url('../fonts/Futura Md BT Medium.ttf');
// }

/* .top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
} */

/* @media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
} */

/* h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
} */

h1,h2,h3,h3,h4,h5,h6 {
  font-family: "Futura Md BT Medium";
}

.img-section {
	width: 100%;
}

.view img, .view video {
 display: block;
}

.sid-section {
	margin-top: 15px;
	background: linear-gradient(45deg, rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
    background: linear-gradient(to right, #ab1c1e, #de1d20);
    padding: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* border-radius: 20px; */
}

.rgba-black-light, .rgba-black-light:after {
    background-color: transparent;
}

.sid-section {
      width: 35%;
    height: 18vh;
    position: absolute;
    /* top: 0; */
   left: 0;
    right: 8px;
    bottom: 6vh;
    margin-left: auto;
}

.btn-sec button{
	width: 80%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-top: 10px;
	font-weight: bold;
	border-bottom: none;
	background-image: linear-gradient(120deg, #e4e4e4 0%, #f4f4f4 100%);
}

.img-section img {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.img-section img {
	width: 100%;
}
.bg{
  height: 100vh !important;
}
}



.button-down button {
    cursor: pointer;
    width: 100%;
    position: relative;
    padding: 2.5rem 7.5rem;
    padding: 10px 27px 10px 27px;
    border-radius: 14px;
    line-height: 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-weight: normal;
    border: none;
    box-shadow: 2px 2px 2px 2px #e6dedb;
    /* border: 1px solid #012880; */
    background-image: linear-gradient(-180deg, #af1d20 0%, #e31e25 100%);
    box-shadow: 0 1rem 1.2rem 0 rgb(99, 84, 84), 0 -0.25rem 1.5rem rgb(154, 34, 34) inset, 0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(183, 176, 187) inset;
}

button span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.button-down button:focus {
outline: none;
}

.header-img {
	  z-index: 10;
    position: relative;
    padding: 10px;
}


.new-sec {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* .logo {
	  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    text-align: center;
}


.logo img {
	  width: 110px;
    
} */


@media screen and (max-width: 425px) {
	.button-down button {
		font-size: 14px;
	}
	
}
/* 
.footer img {
	    height: 79px;
    margin-top: -58px;

}

.footer-logo {
	position: absolute;
    top: -30px;
    left: 0px;
    right: 0px;
}

.footer-logo img {
    width: 177px;
    margin-left: 11px;
} */


@media screen and (min-width: 991px) and (max-width: 2000px) {
	.head {
		display: none;
	}
}


.colom {
  padding-right: 0px; padding-left: 0px;
}



.new-row {
  padding-left: 15px !important;
  padding-right: 15px !important;
  position: relative;
  top: 40px;
}

    .btn-unique {
    color: #fff;
    background-image: linear-gradient(-180deg, #b21d21 0%, #e31e24 100%);
}

.md-form textarea:focus {
    border: none !important;
   border-bottom: 2px solid red !important;
   box-shadow: none !important;
}

.md-form input:focus {
    border: none !important;
   border-bottom: 2px solid #4285f4!important;
   box-shadow: none !important;
}
.md-form label:focus {
    color: #4285f4 !important;
}

/* .sonet-t {
  color: white;
  font-family: "DIN Next LT Pro Black";
} */

.new-box {
 position: absolute;
    top: 16vh;
    left: 0px;
    right: 0px;
    padding: 45px;
}

.forms input {
  width: 100%;
  padding: 3px 10px;
  margin-top: 15px;
    border: 1px solid white;
    color: black;
    margin-bottom: 10px;
}

.forms input::placeholder {
  color: black;
}

.submit {
  margin-top: 10px;
}

.sonet-bg {
  margin-top: -18px;
}

.sonet-bmw{
  margin-top:10px
}
.button-down {
  position: relative;
  margin-top: 5px;
}

.header-img{
  position: absolute;
  width: 90px;
  right: 0;
}
#mic-btn{
 
 color: #fff;
    text-align: center;
    padding-left: 30px;
}

#video-btn{
    text-align: center;
    padding-right: 30px;
}

#video-btn p {
  color: #fff;
  font-size: 14px;
    position: relative;
    top: -8px;
}

#mic-btn p{
font-size: 14px;
    position: relative;
    top: -8px;
}


.back-icon {
  position: absolute;
    top: 0;
    z-index: 999;
    font-weight: bold;
}

.headers {
  background-color: #fafafa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.headers p {
      position: relative;
    top: 8px;
    font-size: 15px;
    font-weight: bold;
}

.pro-side p {
  font-size: 14px;
  position: relative;
    top: -7px;
}

.pro-side {
  margin-top: 15px;

}

.pro-side h6 {
  font-weight: bold;
  font-size: 25px;
}

.head {
  overflow: hidden;
  padding: 0px;
}

.appoint {
  padding: 10px;
  background: #fff;
}

.appoint h6 {
  font-weight: bold;
}

.otp-provide {
  padding: 10px;
  
}

.new-m input{
   width: 100%;
   border:none;
   border-bottom: 1px solid #ccc;
   color: #000;
   outline: none;
}

.new-m label {
  color: grey;
}

.new-m input::placeholder {
  color: #000;
  font-weight: bold;
}

.new-m p {
  color: grey;
  margin-top: 10px;
}

.send-btn {
  padding: 10px;
}

.send-btn button {
  width: 100%;
  padding: 7px;
  background-color: #5ab1bb;
  color: #fff;
  border:none;
  border-radius: 4px;
}

.profile-doc {
  background-color: #fff;
}

.appoint i {
  color: #19a45a;
}


.time-box {
  background-color: #fff;
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;

}

.time-box p{
  font-weight: bold;
      font-size: 11px;

      margin-bottom: 0rem;
}

.time-box span {
  color: #19a45a;
  font-size: 11px;
}

.act {
  border:1px solid #5ab1bb !important;
}

.t-heads {
  text-align: center;

}

.t-heads h6 {
  font-weight: bold;
}

.timing-set {
  background: #fff;
  padding: 8px;
  margin-top: 11px;
  border-bottom: 1px solid #ccc;
}

.timing-set h6 {
  position: relative;
  top: 5px;

}


.t-body ul{
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -15px;
}

.t-body ul li{
   display: inline-block;
    background-color: #5ab1bb;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 4px;
    border-radius: 3px;
}

.aftr {
  font-size: 15px;
  font-weight: bold;
  padding-left: 25px;
  position: relative;
  top: 15px;
}

.t-body {
  background: #fff;
}

.book-a {
  text-align: center;
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.book-a h6 {
  font-size: 22px;
}


.login{
  text-align: center;
    margin-top: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.login h6 {
  color: #5ab1bb;
  font-weight: bold;
  position: relative;
  top: 7px;
  
}

.choose-etc {
    background-color: #5ab1bb;    
    padding: 40px 20px;
    margin-top: 20px;
    color: #fff;
    width: 100%;
}

.choose-etc h4 {
  position: relative;
  top: -10px;
}


.choose-etc input {
      width: 50%;
    background: #fff;
    border: none;
    padding: 8px;
    border-radius: 2px;
    outline: none;
    /* text-align: center; */
}

.login-section input {
      width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
}

.login-section {
  padding: 15px;
}

.login-section label {
  font-size: 14px;
  position: relative;
  top: 7px;
  color: #787887;
  font-weight: bold;
}

.login-section input::placeholder {
  font-size: 13px;
  color: #c2c2c2;
}

.custom-checkbox label{
  color: #c2c2c2;
  font-weight: normal;
}

.input-group input{
   border:1px solid #ccc !important;

}

.input-group {
  
  margin-top: 0px;
}

.red.lighten-3 {
    background-color: #17a2b8 !important;
    color: #fff;
}

.filter-ul ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
  
}

.filter-ul ul li {
    display: inline-block;
    width: 33%;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 6px;
    color: grey;
    margin-left: -5px;
        position: relative;
    left: 7px;
}

.filter-img {
  padding: 13px;
}

.filter-text h5{
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}

.book-btn {
      width: 92%;
    background-color: #17a2b8 !important;
    border: none;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
       margin-top: -5px;
}



.btn-login {
  width: 100%;
    padding: 5px 30px;
    background-color: #5ab1bb;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.hr {
  margin-top: 1rem;
    margin-bottom: 1rem;
   
    border-top: 2px solid rgb(90 177 187);
    width: 60px;
}


.for-get {
  float: right;
    font-size: 15px;
    margin-top: 7px;
    color: #5ab1bb;
    font-weight: bold;
}

.dash-box {
  background-color: #f68a9a;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  padding: 13px;
}

.icon-side img {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.new-icons img {
  width: 30%;
}

.new-icons {
  text-align: center;
  color: #fff;
}

.corona-text h5{
  position: relative;
  top: 5px;
  font-weight: bold;

}

.corona-text {
  padding-top: 18px;
}


.corona-text p {
  color: #575757;
}

.fb-btn button {
    width: 100%;
    padding: 7px;
    background-color: #3b5a97;
    color: #fff;
    border: none;
    border-radius: 4px;
    position: relative;
    top: -17px;
}


.appoint-box {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #575757;
}

.filter-img img {
   width: 80%;
    height: 190px;
    border-radius: 120px;
}


.filter-text {
  margin-top: 25px;
}

.filter-text p {
  line-height: 20px;
  color: #575757;
  margin-top: 15px;
}

.book-text {
  text-align: right;
  color: #5f5f5f;
}

.n-ext {
  color: #39a121;
}

.filter-text h6 i {
  color: #39a121;
}

.content-al {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);     padding-right: 30px;
}

.video-c {

    
    background-color: #5ab1bb;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.filter-img h6 {
  font-weight: bold;
  margin-top: 10px;
}

.modal {
 
    background: #dee1e6;
}


.search-first {
  width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
}

.search-first i {
  color: grey;
}

.list ul{
  list-style: none;
  padding: 0px;
}


.list ul li {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 22px;
    color: grey;
  }

  .list ul li i {
    background-color: grey;
    color: #fff;
    padding: 8px;
    border-radius: 18px;
    font-size: 13px;
    position: relative;
    top: -2px;
    left: -3px;
}

.list ul li span {
  float: right;
    font-size: 14px;
    color: grey;
}


.home-footer {
  color: #Fff;
}
.list-unstyled li a {
  color: #fff;
}

.search-first1 input {
     width: 100%;
    border: 1px solid #ccc;
    margin-top: 13px;
    padding: 5px;
    padding-left: 25px;
    margin-top: -10px;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 33%;
    border: 1px solid #ccc;
    text-align: center;
}

.nav-tabs li a {
  font-size: 11px;
  color: #000;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs li a span {
  color: green;
}

.search-first1 i{
      position: relative;
    top: 24px;
    left: 5px;
    color: grey;
}

.pro-side {
    margin-top: 58px;
}

.nav-logo {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sent-icon h4 {
  color: #575757;
}

.sent-icon p {
  color: #575757;
}


.circle-img img {
    border-radius: 144px;
    width: 100%;
    height: 158px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.check-app {
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  padding: 5px;
  width: 100%;
  margin-top: 30px;
}

.time-join {
    
    margin-top: 30px;
    padding-right: 25px;
}

.time-join a button {

    padding: 5px 30px;
    background-color: #5ab1bb;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.time-join a {
  color: #575757;
}

.check-imgbox {
  display: inline-flex;
  padding-left: 17px;
}

.check-imgbox h5 span {
  font-weight: normal !important;
  font-size: 16px !important;
  color: #575757 !important;

}

.check-imgbox  img {
  border-radius: 50px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin-top: 12px;
}

.check-imgbox h5 {
    color: #000;
    margin: 32px 17px;
}

.time-join {
  text-align: right;
}

.blue {
    background-color: #2e2e2e!important;
}
@media screen and (max-width: 576px) {
  .navbar-text {
        float: right;
    margin-top: -42px;
  }

  .for-get {
    float: right;
    font-size: 11px;
    margin-top: 10px;
    margin-top: 10px;
    color: #5ab1bb;
    font-weight: bold;
}

.filter-img img {
        width: 43%;
    height: 181px;
    height: 120px;
    border-radius: 120px;
}



.btn-login {
    width: 100%;
    padding: 2px 20px; }


    .icon-side img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-top: 26px;
    width: 107%;
    margin-left: -12px;
}

.book-logo {
  width: 30%;
}

}


@media screen and (max-width: 768px) {
  .book-cunsult {
    display: none;
  }


.ap-btn {
  position: relative;
  left: 10px;
}


.choose-etc input {
    width: 100%; 

  }
  
  .btn-login {
    width: 100%;
    padding: 0px -1px;
    font-size: 13px;
    margin: 7px;
    padding: 2px;
}

.y-p {
  position: relative;
  left: -10px;
}

  .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    /* padding: 0px !important; */
}

.check-imgbox {
  width: 100%;
}
.check-imgbox img {    
    width: 30%;
    height: 89px;
    margin-top: 20px;
}

.check-imgbox h5 span {
    font-weight: normal !important;
    font-size: 13px !important;

  }

.time-join {
    text-align: center;
    margin-top: -27px;
    font-size: 12px;
    padding-left: 70px !important;
}
  .nav-logo img {
    width: 35%;
  }

.sent-icon img {
  width: 20%;
}

  .book-a h6 {
    font-size: 18px;
}



  .filter-text {
    margin-top: 25px;
    text-align: center;

    }

    .pro-side h6 {
    font-weight: bold;
    font-size: 20px;
}

 .circle-img img {
    border-radius: 144px;
    width: 134%;
    height: 84px;
}

.book-text {
  text-align: center;
}



.video-c {
  width: 100%;
  margin-bottom: 20px;
}

.modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
}

.content-al {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding-right: 0px;
}

.pro-side {
    margin-top: 28px;
}
}

@media screen and (min-width: 992px) and (max-width: 3000px) {
  .hide-i {
    display: none;
  }

  .modal {
    display: none !important;
  }

  .t-body ul li {
    display: inline-block;
    background-color: #5ab1bb;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 4px;
    border-radius: 3px;
    width: 18%;
}

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    display: none;
    width: 100vw;
  }

 body {
  background-color: #fff !important;
 }

 .sid-section {
    width: 16%;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 8px;
    bottom: 6vh;
    margin-left: auto;
}

.new-flex {
  position: relative;
    left: 5%;
    width: 40%;
    top: -19vh;

}

#video-icon  {
  font-size: 14px !important;
}


#mic-icon {
  font-size: 14px !important;
}

#video-btn p {
    color: #fff;
    font-size: 10px;
    position: relative;
    top: -8px;
}

#mic-btn p {
    font-size: 10px;
    position: relative;
    top: -8px;

}

#video-btn {
       text-align: center;
    padding-right: 2px;
    background: #008ed0;
    height: 53px;
    border-radius: 30px;
    width: 53px;
    margin-left: 20px;
}
.navbar  {
  background-color: #fff !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%)!important;
}

.new-sec {
  margin-top: 25px;
}
}



@media screen and (max-width: 992px) {
  .desktop-v {
  display: none;
}


}